<div class="mt-5 p-4 container bg-dark-subtle shadow bg-body-tertiary rounded">
  <button class="btn btn-danger col-2 m-3 opacity-75" type="button">Return</button>
  <h1 class="text-center">Product Register</h1>
  <form class="row justify-content-evenly">
    <div class="mb-3 col-5 p-5">
      <label for="ID" class="form-label">Product ID</label>
      <input type="text" class="form-control" id="ID" />
      <div id="emailHelp" class="form-text">
        Please enter the product <strong>ID</strong>. (ex. 1234-06)
      </div>
    </div>
    <div class="mb-3 col-5 p-5">
      <label for="name" class="form-label">Product name</label>
      <input type="text" class="form-control" id="name" />
    </div>

    <div class="mb-3 col-5 p-5">
      <label for="price" class="form-label">Price</label>
      <input type="number" class="form-control" id="price" />
    </div>
    <div class="mb-3 col-5 p-5">
      <label for="quantity" class="form-label">Quantity</label>
      <input type="number" class="form-control" id="quantity" />
    </div>
    <button class="btn btn-primary m-4 col-5" type="button">Save</button>
  </form>
</div>
